*, *::before, *::after { padding: 0; margin: 0; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: inherit; line-height: 1.2; }

ul { list-style-type: none; }

a { color: tomato; }

a:visited { color: tomato; }

a:hover { color: salmon; }

:root { --lightest-bg: rgba(252, 252, 252, 0.925); --darkest-bg: rgba(16, 16, 16, 0.99); --light-md-bg: rgba(85, 85, 85, 0.925); --dark-md-bg: rgba(40, 40, 40, 1); --lightest-color: #fff; --darkest-color: #000; --main-ff: 'Raleway', sans-serif; }

body { font-family: var(--main-ff); }

html { background: url(assets/bg-image.jpg) no-repeat center center fixed; background-size: cover; }

.page-container { max-width: 1300px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; }

.page-container > * { padding: 8rem 15%; }

@media screen and (max-width: 1050px) { .page-container > * { padding: 8rem 12.5%; } }

@media screen and (max-width: 920px) { .page-container > * { padding: 8rem 10%; } }

@media screen and (max-width: 800px) { .page-container > * { padding: 8rem 5%; } }

@media screen and (max-width: 800px) { .page-container > * { padding: 8rem 0; } }

.page-container > *:first-child { padding: 0; }

@media screen and (max-width: 600px) { .page-container > *:first-child { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; padding: 8rem 0; } }

h3 { font-size: 1.5rem; margin-bottom: 1rem; }

.banner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: var(--lightest-bg); }

.banner .profile-pic-container { padding: 2rem 4rem; background-color: var(--darkest-bg); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

@media screen and (max-width: 800px) { .banner .profile-pic-container { padding: 4rem 3rem; } }

@media screen and (max-width: 720px) { .banner .profile-pic-container { padding: 3rem 1.5rem; } }

@media screen and (max-width: 600px) { .banner .profile-pic-container { background-color: transparent; padding: 0; } }

.banner .profile-pic-container img { border-radius: 100%; height: 300px; -webkit-filter: grayscale(100%); filter: grayscale(100%); }

@media screen and (max-width: 1050px) { .banner .profile-pic-container img { height: 250px; } }

@media screen and (max-width: 920px) { .banner .profile-pic-container img { height: 200px; } }

@media screen and (max-width: 800px) { .banner .profile-pic-container img { height: 175px; } }

.banner .main-title-container { -webkit-box-flex: 6; -ms-flex: 6; flex: 6; padding: 0 4rem; text-align: start; }

@media screen and (max-width: 720px) { .banner .main-title-container { padding: 0 2rem; } }

.banner .main-title-container h1 { text-transform: uppercase; font-size: 6.5em; line-height: 0.7; }

@media screen and (max-width: 1050px) { .banner .main-title-container h1 { font-size: 5.5em; } }

@media screen and (max-width: 920px) { .banner .main-title-container h1 { font-size: 4.5em; } }

@media screen and (max-width: 800px) { .banner .main-title-container h1 { font-size: 4em; } }

@media screen and (max-width: 600px) { .banner .main-title-container h1 { font-size: 3.5em; padding: 1rem 0 0; } }

.banner .main-title-container h1 a { font-size: 0.8rem; color: var(--light-md-bg); opacity: 0.65; text-decoration: none; margin-left: 0.5rem; }

@media screen and (max-width: 785px) { .banner .main-title-container h1 a { text-decoration: underline; } }

.banner .main-title-container h1 a:hover { opacity: 1; color: var(--dark-md-bg); }

.banner .main-title-container h1 a:visited { opacity: 1; color: var(--light-md-bg); }

.about { background-color: var(--light-md-bg); color: var(--lightest-color); padding: 8rem 15%; }

@media screen and (max-width: 1050px) { .about { padding: 8rem 12.5%; } }

@media screen and (max-width: 920px) { .about { padding: 8rem 10%; } }

@media screen and (max-width: 800px) { .about { padding: 8rem 5%; } }

@media screen and (max-width: 800px) { .about { padding: 8rem 0; } }

.about .about-me { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; }

.about .about-me p { margin-bottom: 4rem; font-size: 1.15rem; width: 75%; }

.about .about-me p:last-child { margin-bottom: 8rem; }

.about .personal-info { margin: 0 2rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: var(--darkest-bg); border-radius: 2px; padding: 4rem; white-space: nowrap; }

@media screen and (max-width: 800px) { .about .personal-info { margin: 0 4rem; white-space: normal; } }

@media screen and (max-width: 600px) { .about .personal-info { padding: 4rem 2rem; margin: 0 0.5rem; }
  .about .personal-info h3 { white-space: nowrap; } }

.about .personal-info .personal-info-list { font-size: 1.15rem; }

.about .personal-info .personal-info-list > li { margin-top: 0.75rem; }

.about .personal-info .personal-info-list > li ul { margin-left: 1rem; }

.about .personal-info .personal-info-list > li ul li { margin-top: 0.5rem; }

@media screen and (max-width: 800px) { .about .personal-info .personal-info-list strong { display: block; margin-bottom: 0.75rem; }
  .about .personal-info .personal-info-list > li { text-align: center; margin-top: 2.5rem; } }

.work-experience { background-color: var(--lightest-bg); }
