*, *::before, *::after { padding: 0; margin: 0; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: inherit; line-height: 1.2; }

ul { list-style-type: none; }

a { color: var(--highlight-color); text-decoration: none; }

button, .button { display: inline-block; border: none; text-decoration: none; background: transparent; color: inherit; cursor: pointer; text-align: center; -webkit-appearance: none; -moz-appearance: none; border: 1px solid #ccc; border-radius: 64px; padding: 0.5em 1em; -webkit-transition: border-color 0.1s ease-in-out; transition: border-color 0.1s ease-in-out; }

button:focus, .button:focus { outline: none; }

:root { --dark-bg: #373b40; --medium-bg: #585d65; --text: white; --highlight-color: #ffd460; --ff: 'Poppins', sans-serif; }

body { font-family: var(--ff); color: var(--text); background-color: var(--dark-bg); overflow-x: hidden; }

.page-container { max-width: 1300px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; }

@media screen and (min-width: 975px) { .page-container { margin-left: 30%; } }

.page-container > * { padding: 6rem 10px; border-bottom: 1px solid var(--medium-bg); -webkit-transform: translateY(-6rem); transform: translateY(-6rem); }

@media screen and (min-width: 975px) { .page-container > * { padding: 9rem 3rem; -webkit-transform: none; transform: none; } }

.page-container > *:nth-child(2) { padding-top: 0; }

@media screen and (min-width: 975px) { .page-container > *:nth-child(2) { padding: 9rem 3rem; } }

.page-container > *:last-child { padding-bottom: 0; border-bottom: none; }

@media screen and (min-width: 975px) { .page-container > *:last-child { padding: 9rem 3rem; } }

h3 { font-size: 1.5rem; }

h2 { font-size: 2rem; }

.title { display: block; text-transform: capitalize; font-weight: 800; text-align: center; padding: 0 10px; padding-bottom: 3rem; }

@media screen and (min-width: 975px) { .title { text-align: left; font-size: 3rem; padding: 0; padding-bottom: 4.5rem; } }

.subtitle { display: block; text-align: center; padding: 0 10px; padding-bottom: 1.5rem; }

.highlighted-text, .subtitle { color: var(--highlight-color); text-transform: uppercase; font-weight: 600; }

.header { padding: 0 30px; position: fixed; top: 40px; left: 0; right: 0; z-index: 9999; -webkit-transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1); transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; }

@media screen and (min-width: 975px) { .header { padding: 10px; left: 50px; right: 50px; border-radius: 60px; background-color: var(--medium-bg); -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2); box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.2); } }

.header .bar { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin: 10px 0; }

@media screen and (min-width: 975px) { .header .bar { margin: 0; } }

.header .logo { font-size: 1.25em; }

@media screen and (min-width: 975px) { .header .logo { text-align: left; margin-left: 20px; } }

.header .logo.title { padding-bottom: 0; }

.header .nav-toggle { height: 65px; width: 65px; -webkit-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; border-color: inherit; }

.header .nav-toggle:hover { color: var(--highlight-color); }

@media screen and (min-width: 975px) { .header .nav-toggle { display: none; } }

.header .download-cv { display: none; }

@media screen and (min-width: 975px) { .header .download-cv { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-left: 10px; }
  .header .download-cv a { border: 1px solid; padding: 25px 40px; border-radius: 50px; text-transform: uppercase; font-weight: 800; font-size: 0.8em; color: var(--highlight-color); -webkit-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
  .header .download-cv a:hover { background-color: var(--highlight-color); color: var(--dark-bg); border-color: var(--highlight-color); } }

.header .nav-menu { overflow: hidden; height: 0; opacity: 0; -webkit-transition: opacity 0.35s cubic-bezier(0.165, 0.85, 0.45, 1); transition: opacity 0.35s cubic-bezier(0.165, 0.85, 0.45, 1); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

@media screen and (min-width: 975px) { .header .nav-menu { opacity: 1; height: auto; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; margin-left: auto; } }

.header .nav-menu ul { margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media screen and (min-width: 975px) { .header .nav-menu ul { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; } }

.header .nav-menu ul li { padding-bottom: 45px; }

@media screen and (min-width: 975px) { .header .nav-menu ul li { padding-bottom: 0; margin-right: 1.25em; } }

.header .nav-menu ul li a { text-transform: uppercase; font-weight: 800; font-size: 1.2em; color: inherit; -webkit-transition: none; transition: none; position: relative; -webkit-transition: color 0.075s ease-in-out; transition: color 0.075s ease-in-out; }

.header .nav-menu ul li a::after { content: ''; position: absolute; top: 0; bottom: 0; right: 0; left: 0; z-index: -1; border-bottom: 10px solid var(--dark-bg); -webkit-transition: max-width 0.175s ease-in-out; transition: max-width 0.175s ease-in-out; max-width: 0; }

.header .nav-menu ul li a:hover { color: var(--highlight-color); }

.header .nav-menu ul li a:hover::after { max-width: 100%; }

@media screen and (min-width: 975px) { .header .nav-menu ul li a { font-size: 0.8em; } }

.header.fixed { top: 0; background-color: var(--medium-bg); }

@media screen and (min-width: 975px) { .header.fixed { top: 40px; } }

.header.active { bottom: 0; }

.header.active .nav-menu { opacity: 1; height: 100%; }

.bg-img { height: 75vh; width: 110vw; background-image: url(../assets//profile-pic.jpg); background-repeat: no-repeat; background-position: center 30%; background-size: cover; }

@media screen and (min-width: 975px) { .bg-img { height: auto; width: auto; position: fixed; top: 0; bottom: 0; left: 0; right: 70%; } }

.banner { -webkit-transform: translateY(-50%); transform: translateY(-50%); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media screen and (min-width: 975px) { .banner { margin-top: 2.5rem; -webkit-transform: none; transform: none; position: relative; } }

.banner h1.title { font-size: 2.5em; background-color: var(--dark-bg); display: inline-block; padding-top: 4.5rem; padding-left: 1.25rem; padding-right: 1.25rem; border-radius: 50% 50% 0 0; }

@media screen and (min-width: 975px) { .banner h1.title { position: absolute; left: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%); border-radius: 50% 0 0 50%; padding: 5rem 2.5rem; font-size: 3.25em; } }

@media screen and (min-width: 975px) { .banner .subtitle { display: block; text-align: left; width: 100%; margin-top: 300px; padding-bottom: 4rem; } }

.about { text-align: center; }

.about .title { padding-bottom: 1.5rem; }

@media screen and (min-width: 975px) { .about .title { padding-bottom: 4.5rem; } }

.about .about-me p { margin: 0 auto 6rem; max-width: 95%; }

@media screen and (min-width: 800px) { .about .about-me p { max-width: 600px; } }

@media screen and (min-width: 975px) { .about .about-me p { max-width: -webkit-max-content; max-width: -moz-max-content; max-width: max-content; margin-bottom: 9rem; } }

.about .about-me p strong { display: inline-block; margin-bottom: 0.75rem; }

.about .about-me p strong:last-of-type { margin-bottom: 0; }

@media screen and (min-width: 800px) { .about .personal-info > ul { padding: 0 2rem; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .about .personal-info > ul li { -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; } }

.about .personal-info strong { display: block; margin-bottom: 0.5rem; }

.about .personal-info li { margin-bottom: 0.75rem; }

.about .personal-info li:last-child { margin-bottom: 0; }

.about .personal-info li:last-child span:last-child { margin-bottom: 0; }

.about .personal-info .personal-info-list > * { margin-bottom: 1.5rem; }

.work-experience { text-align: center; }

@media screen and (min-width: 800px) { .work-experience > ul { padding: 0 2rem; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .work-experience > ul li { -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; } }

.work-experience strong, .work-experience span { display: block; margin-bottom: 0.5rem; }

.work-experience .extra-space { margin-bottom: 1rem; }

.work-experience span:last-child { margin-bottom: 1.5rem; }

.work-experience li { margin-bottom: 0.75rem; }

.work-experience li:last-child { margin-bottom: 0; }

.work-experience li:last-child span:last-child { margin-bottom: 0; }

.education { text-align: center; }

@media screen and (min-width: 800px) { .education > ul { padding: 0 2rem; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .education > ul li { -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; } }

.education strong, .education span { display: block; margin-bottom: 0.5rem; }

.education .extra-space { margin-bottom: 1rem; }

.education span:last-child { margin-bottom: 1.5rem; }

.education li { margin-bottom: 0.75rem; }

.education li:last-child { margin-bottom: 0; }

.education li:last-child span:last-child { margin-bottom: 0; }

.contact { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media screen and (min-width: 975px) { .contact { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; } }

.contact li { margin-bottom: 1.25rem; }

.contact li:last-child { margin-bottom: 0; }
