.about {
  background-color: var(--light-md-bg);
  color: var(--lightest-color);
  padding: 8rem 15%;

  @media screen and (max-width: 1050px) {
    padding: 8rem 12.5%;
  }
  @media screen and (max-width: 920px) {
    padding: 8rem 10%;
  }
  @media screen and (max-width: 800px) {
    padding: 8rem 5%;
  }
  @media screen and (max-width: 800px) {
    padding: 8rem 0;
  }

  .about-me {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;

    p {
      margin-bottom: 4rem;
      font-size: 1.15rem;
      width: 75%;

      &:last-child {
        margin-bottom: 8rem;
      }
    }
  }

  .personal-info {
    margin: 0 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--darkest-bg);
    border-radius: 2px;
    padding: 4rem;
    white-space: nowrap;

    @media screen and (max-width: 800px) {
      margin: 0;
      white-space: normal;
    }

    @media screen and (max-width: 600px) {
      padding: 8rem 2rem;
    }

    .personal-info-list {
      font-size: 1.15rem;

      & > li {
        margin-top: 0.75rem;

        ul {
          margin-left: 1rem;

          li {
            margin-top: 0.5rem;
          }
        }
      }

      @media screen and (max-width: 800px) {
        strong {
          display: block;
          margin-bottom: 0.75rem;
        }

        & > li {
          text-align: center;
          margin-top: 2.5rem;
        }
      }
    }
  }
}
