.about {
  text-align: center;
  .about-me {
    p {
      &:first-of-type {
        margin: 0 auto 4rem;
        max-width: 95%;
        @media screen and (min-width: 800px) {
          max-width: 600px;
        }
      }
      margin-bottom: 4rem;
      strong {
        display: inline-block;
        margin-bottom: 0.75rem;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  .personal-info {
    @media screen and (min-width: 800px) {
      > ul {
        padding: 0 2rem;
        display: flex;
        flex-wrap: wrap;
        li {
          flex: 0 0 50%;
        }
      }
    }
    strong {
      display: block;
      margin-bottom: 0.5rem;
    }
    li {
      margin-bottom: 0.75rem;

      &:last-child {
        margin-bottom: 0;
        span:last-child {
          margin-bottom: 0;
        }
      }
    }

    .personal-info-list > * {
      margin-bottom: 1.5rem;
    }
  }
}
