.about {
  text-align: center;
  .title {
    padding-bottom: 1.5rem;
    @media screen and (min-width: 975px) {
      padding-bottom: 4.5rem;
    }
  }
  .about-me {
    p {
      margin: 0 auto 6rem;
      max-width: 95%;
      @media screen and (min-width: 800px) {
        max-width: 600px;
      }
      @media screen and (min-width: 975px) {
        max-width: max-content;
        margin-bottom: 9rem;
      }

      strong {
        display: inline-block;
        margin-bottom: 0.75rem;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  .personal-info {
    @media screen and (min-width: 800px) {
      > ul {
        padding: 0 2rem;
        display: flex;
        flex-wrap: wrap;
        li {
          flex: 0 0 50%;
        }
      }
    }
    strong {
      display: block;
      margin-bottom: 0.5rem;
    }
    li {
      margin-bottom: 0.75rem;

      &:last-child {
        margin-bottom: 0;
        span:last-child {
          margin-bottom: 0;
        }
      }
    }

    .personal-info-list > * {
      margin-bottom: 1.5rem;
    }
  }
}
