.bg-img {
  overflow: hidden;
  height: 75vh;
  width: 110vw;
  background-image: url(../assets//profile-pic.jpg);
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: cover;
}
