.bg-img {
  height: 75vh;
  width: 110vw;
  background-image: url(../assets//profile-pic.jpg);
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: cover;
  // filter: saturate(50%);

  @media screen and (min-width: 975px) {
    height: auto;
    width: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 70%;
  }
}
