// Basic reset of default browser styles
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  line-height: 1.2;
}

ul {
  list-style-type: none;
}

a {
  color: var(--highlight-color);
  text-decoration: none;
}

button,
.button {
  display: inline-block;
  border: none;
  text-decoration: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #ccc;
  border-radius: 64px;
  padding: 0.5em 1em;
  transition: border-color 0.1s ease-in-out;
  &:focus {
    outline: none;
  }
}
