// CSS variables for the entire site
:root {
  // Backgrounds
  --lightest-bg: #fcfcfc;
  --darkest-bg: #101010;
  --light-md-bg: #555;
  --dark-md-bg: #282828;

  // Text
  --lightest-color: #fff;
  --darkest-color: #000;
  --main-ff: 'Raleway', sans-serif;
}
