// CSS variables for the entire site
:root {
  --dark-bg: #373b40;
  --medium-bg: #585d65;
  --text: white;
  --highlight-color: #ffd460;
  // --highlight-color: #68e0cf;
  // --highlight-color: #46c3db;
  // --highlight-color: #fbaf00;
  // --highlight-color: #ffd639;
  // --highlight-color: #ff6b6b;
  // --highlight-color: #fb9f89;
  --ff: 'Poppins', sans-serif;
}
