.work-experience {
  text-align: center;
  @media screen and (min-width: 800px) {
    > ul {
      padding: 0 2rem;
      display: flex;
      flex-wrap: wrap;
      li {
        flex: 0 0 50%;
      }
    }
  }
  strong,
  span {
    display: block;
    margin-bottom: 0.5rem;
  }
  .extra-space {
    margin-bottom: 1rem;
  }
  span:last-child {
    margin-bottom: 1.5rem;
  }
  li {
    margin-bottom: 0.75rem;

    &:last-child {
      margin-bottom: 0;
      span:last-child {
        margin-bottom: 0;
      }
    }
  }
}
